body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../imagens/imagem-de-fundo-editada.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}
